html, body {
  height: 100vh;
  width: 100vw;
  background-color: green;
  justify-content: center;
  align-items: start;
  display: flex;
  padding: 20px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.card {
  position: absolute;
}